@charset "utf-8";
nav {
  background-color: #f8f8f8;
  position: relative;
}
main {
  font-size: 14px;
}

.modal .overlay~* {
  top: 20%;
}
.tabs>.row{
  transition: none;
}

.container section {
  padding-top: 8px;
  width: 95%;
  margin: 0 auto;
}

.aside {
  padding-top: 20px;
  min-width: 180px;
  color: #0074D9;
}

.aside .pseudo {
  display: block;
  margin: 0;
  text-align: left;
}

.toolbar {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.toolbar button {
  margin-right: 26px;
}

.unread {
  color: #666;
  font-weight: bold;
}
.text-right {
  text-align: right;
}
.to {
  color: #777;
}

.msglist-message {
  border-bottom: 1px solid #ccc;
  padding: 6px;
  cursor: pointer;
}
.msglist-message div {
  padding-bottom: 0px;
}


#preview-plain, #preview-source {
  white-space: pre-wrap;
  font-family: Courier New, Courier, System, fixed-width;
  padding: 10px;
}
.tab-pane {
  height: 65vh;
}
.tab-pane div {
  background-color: #f8f8f8;
  overflow-y: auto;
  height: 65vh;
  word-break: break-all;
  overflow-wrap: break-word;
}
.mime-part {
  padding: 10px;
}
