<!DOCTYPE html>
<html>
<head>
    <title>PyMailHog</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">

    <link rel="icon" type="image/png" href="assets/images/hog.png">

    <link rel="stylesheet" href="assets/css/picnic.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <nav>
        <a href="#" class="brand"><img src="assets/images/hog.png" height="20" alt="PyMailHog"> <span>PyMailHog</span></a>
    </nav>

    <main class="container" id="app">
        <section class="flex">
            <div class="full fifth-800">
                <div class="links flex one aside">
                    <div><a class="pseudo button" v-on:click="refresh">Inbox ({{ totalMessages }})</a></div>
                    <div><label class="pseudo button" for="confirm-delete-all"><i class="icon-cancel"></i>Delete all messages</label></div>
                </div>
            </div>

            <div class="full four-fifth-800">
                <!-- message list -->
                <div v-if="!preview">
                    <div class="toolbar">
                        <button v-on:click="refresh" title="Refresh">
                            <i class="icon-cw"></i>
                        </button>
                    </div>
                    <div class="messages"  v-for="message in messages" v-on:click="selectMessage(message)">
                        <div class="msglist-message flex three">
                            <div class="third">
                                {{ message.from }}
                                <div v-if="message.to">
                                    <div v-for="to in message.to" class="to">
                                        {{ to }}
                                    </div>
                                </div>
                            </div>
                            <div class="third">
                                <span class="subject unread">{{ message.subject }}</span>
                            </div>
                            <div class="third">
                                <div class="flex two">
                                    <div class="three-fourth text-right">
                                        {{ message.date }}
                                    </div>
                                    <div class="fourth text-right">
                                        {{ fileSize(message.size) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // message list -->

                <!-- message preview -->
                <div v-if="preview">
                    <div class="toolbar">
                        <button v-on:click="backToInbox" title="Back to Inbox">
                            <i class="icon-left-open"></i>
                        </button>

                        <button v-on:click="downloadEml(preview)" title="Download eml">
                            <i class="icon-mail"></i>
                            <a id="download-eml" href="#" download="test.eml" style="display:none"></a>
                        </button>

                        <button v-on:click="deleteOne(preview)" title="Delete" class="error">
                            <i class="icon-trash-empty"></i>
                        </button>
        
                    </div>

                    <div class="preview" v-if="preview">
                        <div class="flex twelve headers" style="font-size: 14px;padding-top: 10px">
                            <div style="text-align: right;padding-bottom: 0px">From</div>
                            <div class="four-fifth"  style="padding-bottom: 0px">{{ preview.from }}</div>
                            <div></div>

                            <div style="text-align: right;padding-bottom: 0px">Subject</div>
                            <div class="four-fifth"  style="padding-bottom: 0px"><strong>{{ preview.subject }}</strong></div>
                            <div></div>

                            <div style="text-align: right;padding-bottom: 0px">To</div>
                            <div class="four-fifth"  style="padding-bottom: 0px">{{ (preview.to || []).join(', ') }}</div>
                            <div></div>

                            <div style="text-align: right;padding-bottom: 0px">Cc</div>
                            <div class="four-fifth"  style="padding-bottom: 0px">{{ (preview.cc || []).join(', ') }}</div>
                            <div></div>

                            <div style="text-align: right;padding-bottom: 0px">Bcc</div>
                            <div class="four-fifth"  style="padding-bottom: 0px">{{ (preview.bcc || []).join(', ') }}</div>
                            <div></div>
                        </div>

                        <div class="mail-content tabs" v-bind:class="[ hasHTML(preview) ? 'four' : 'three' ]">
                            <input v-if="hasHTML(preview)" id='tab-html' type='radio' name='tabgroup' checked />
                            <label v-if="hasHTML(preview)" class="pseudo button toggle" for="tab-html">HTML</label>
                            <input id='tab-plane-text' type='radio' name='tabgroup' :checked="!hasHTML(preview)" />
                            <label class="pseudo button toggle" for="tab-plane-text">Plain text</label>
                            <input id='tab-sourcet' type='radio' name='tabgroup' />
                            <label class="pseudo button toggle" for="tab-sourcet">Source</label>
                            <input id='tab-mime' type='radio' name='tabgroup' />
                            <label class="pseudo button toggle" for="tab-mime">MIME</label>

                            <div class="row">
                                <div class="tab-pane" v-if="hasHTML(preview)">
                                    <div>
                                        <iframe target-blank="" v-if="hasHTML(preview)" v-bind:class="{ active: hasHTML(preview) }" class="tab-pane" id="preview-html" srcdoc="{{preview.previewHTML}}" seamless frameborder="0" style="width: 100%"></iframe>
                                    </div>
                                </div>
                                <div class="tab-pane" >
                                    <div v-bind:class="{ active: !hasHTML(preview) }" id="preview-plain" v-html="formatMessagePlain(preview.body)"></div>
                                </div>
                                <div class="tab-pane" >
                                    <div id="preview-source">{{ getSource(preview) }}</div>
                                </div>
                                <div class="tab-pane" >
                                    <div id="preview-mime">
                                        <div v-for="attachment in preview.attachments" class="mime-part">
                                            <a v-bind:href="downloadUrl(preview.ID, attachment.filename)" type="button" class="button"  title="Download">
                                                <i class="icon-download"></i>
                                            </a>
                                            {{ attachment.filename }} ({{ attachment.size }} bytes)
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                <!-- // message preview -->

            </div>
        </section>

        <div class="modal">
            <input id="confirm-delete-all" type="checkbox" />
            <label for="confirm-delete-all" class="overlay"></label>
            <article>
                <header>
                    <h3>Delete all messages?</h3>
                    <label for="confirm-delete-all" class="close">×</label>
                </header>
                <section class="content">
                    <p>Are you sure you want to delete all messages?</p>
                </section>
                <footer>
                    <label for="confirm-delete-all" class="button">Cancel</label>
                    <button class="button dangerous" v-on:click="deleteAllConfirm">
                        Delete all messages
                    </button>
                </footer>
            </article>
        </div>
    </main>
    <script src="assets/js/app.js" type="module"></script>
  </body>
</html>
